<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta tags -->
  <title>Página no encontrada - Musify</title>
  <meta name="title" content="Musify">
  <meta name="description" content="Musify es una forma de escuchar millones de
  canciones sin tener que descargarlas.">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">

  <!-- Google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap" rel="stylesheet">

  <!-- Custom css -->
  <link rel="stylesheet" href="/css/404.css">

</head>

<body>

  <article class="error-page">

    <img src="/images/favicon.svg" width="48" height="48" alt="Musify logo" class="logo">

    <div>
      <h2 class="title display-small">¡Página no encontrada!</h2>

      <p class="text body-large">
        Parece que no podemos encontrar la página que estás buscando.
      </p>
    </div>

    <a href="/" class="btn">
      <span class="label-large">Ir a inicio</span>

      <div class="state-layer"></div>
    </a>

  </article>

</body>

</html>